

@font-face {font-family: "iconfont";
  font-family: "iconfont";
  src: url('../fonts/iconfont.woff2') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* &#xe62d;i  new :e63a */
.iconxinxi:before {
  content: "\e63a";
}

.iconshangsheng:before {
  content: "\e601";
}

.icon-tingzhi:before {
content: "\e62a";
}

.icon-quanping:before {
content: "\eb11";
}

.icon-yinpin:before {
content: "\e619";
}

.icon-shipin:before {
content: "\e6ca";
}

.icon-wenjian:before {
content: "\e691";
}

.icon-icon_play:before {
content: "\e60f";
}

.icon-yinpin1:before {
content: "\e6df";
}


.iconweizhi1:before {
  content: "\e639";
}

.iconios:before {
  content: "\e626";
}

.iconAndroid:before {
  content: "\e638";
}

.iconqiehuan:before {
  content: "\e637";
}

.icongerenzhongxin:before {
  content: "\e636";
}

.iconiconyingyongtongjixuanzhong:before {
  content: "\e633";
}

.iconiconpeizhi:before {
  content: "\e630";
}

.iconiconlicaishangchengxuanzhong:before {
  content: "\e631";
}

.icontouguguanli:before {
  content: "\e632";
}

.iconiconshujutouyingxuanzhong:before {
  content: "\e634";
}

.iconzhinengyunwei:before {
  content: "\e635";
}

.iconiconzhankai1:before {
  content: "\e62f";
}

.iconshanchu1:before {
  content: "\e62e";
}

.icontishixiao:before {
  content: "\e62d";
}

.iconmimakejian:before {
  content: "\e62b";
}

.iconmimabukejian:before {
  content: "\e62c";
}

.iconrenxiang:before {
  content: "\e62a";
}

.iconliebiaoshaixuan:before {
  content: "\e627";
}

.icontingzhidaoru:before {
  content: "\e628";
}

.iconkaishidaoru:before {
  content: "\e629";
}

.iconmubiao:before {
  content: "\e617";
}

.iconshenpiyijian:before {
  content: "\e616";
}

.iconmubiaoshezhi:before {
  content: "\e615";
}

.iconzidingyi:before {
  content: "\e614";
}

.iconchufa:before {
  content: "\e613";
}

.icondingshi:before {
  content: "\e612";
}

.iconbianzu1:before {
  content: "\e611";
}

.iconSQL:before {
  content: "\e610";
}

.iconbuzhouwancheng:before {
  content: "\e60e";
}

.iconbuzhoujiantou:before {
  content: "\e60c";
}

.iconjiemianguizechuangjian:before {
  content: "\e60a";
}

.iconshangchuanyonghuIDchuangjian:before {
  content: "\e60b";
}

.iconwaibudaoru:before {
  content: "\e609";
}

.iconjinrihuoyue:before {
  content: "\e6f5";
}

.icondangqianzaixian:before {
  content: "\e6f6";
}

.iconqidongcishu:before {
  content: "\e6f7";
}

.iconliangrongjiaoyi:before {
  content: "\e6f8";
}

.iconlicaijijin:before {
  content: "\e6f9";
}

.iconputongjiaoyi:before {
  content: "\e6fa";
}

.icongengxinshijiantubiao:before {
  content: "\e6f4";
}

.iconcuowu:before {
  content: "\e6ed";
}

.iconguanbi1:before {
  content: "\e6ee";
}

.iconjieshi:before {
  content: "\e6f0";
}

.icontongbu:before {
  content: "\e6f1";
}

.iconchangguixiala:before {
  content: "\e6e0";
}

.iconcaidanzhankai:before {
  content: "\e6e1";
}

.iconcaidanshouqi:before {
  content: "\e6e2";
}

.iconkepaixu:before {
  content: "\e6e3";
}

.iconshangyiye:before {
  content: "\e6e4";
}

.icondaoxu:before {
  content: "\e6e5";
}

.iconkepaixubeifen:before {
  content: "\e6e6";
}

.iconzhengxu:before {
  content: "\e6e8";
}

.iconweiye:before {
  content: "\e6e9";
}

.iconxiayiye:before {
  content: "\e6ea";
}

.iconshouyejiantou1:before {
  content: "\e6eb";
}

.iconyibantubiaowushuju:before {
  content: "\e6de";
}

.iconfenzu:before {
  content: "\e6df";
}

.iconchenggong:before {
  content: "\e6d3";
}

.iconshibai:before {
  content: "\e6d4";
}

.iconshangchuanwenjian1:before {
  content: "\e6d5";
}

.iconshenhezhong1:before {
  content: "\e6d6";
}

.iconwutupian:before {
  content: "\e6d7";
}

.iconweizhi:before {
  content: "\e6d8";
}

.iconnan:before {
  content: "\e6d9";
}

.iconiOS:before {
  content: "\e6da";
}

.iconnv:before {
  content: "\e6db";
}

.iconjisuanzhong:before {
  content: "\e6dc";
}

.iconandroid:before {
  content: "\e6dd";
}

.iconbianjitubiao:before {
  content: "\e6c1";
}

.iconkapiantuodongxuanzhong:before {
  content: "\e6c2";
}

.iconbohui:before {
  content: "\e6c3";
}

.iconshouqi1:before {
  content: "\e6c5";
}

.iconshijianxuanzebeifen:before {
  content: "\e6c6";
}

.iconqiyongtubiao:before {
  content: "\e6c7";
}

.iconjihuahuabanicon:before {
  content: "\e6c9";
}

.iconshouji:before {
  content: "\e6ca";
}

.iconwenjianlianjie:before {
  content: "\e6cb";
}

.icontingzhi:before {
  content: "\e6cc";
}

.iconshuaxin:before {
  content: "\e6cd";
}

.iconxiazaiwancheng:before {
  content: "\e6ce";
}

.iconyizhou:before {
  content: "\e6cf";
}

.iconwenjianxuanzhong:before {
  content: "\e6d0";
}

.iconyidongxuanxiang:before {
  content: "\e6d1";
}

.iconxiajiang:before {
  content: "\e6d2";
}

.iconxiazaizhong:before {
  content: "\e6bb";
}

.icongenjiediantubiao:before {
  content: "\e6af";
}

.icondaochuliebiao:before {
  content: "\e6b0";
}

.iconjinyongtubiao:before {
  content: "\e6b1";
}

.iconbanben:before {
  content: "\e6b2";
}

.iconjiance:before {
  content: "\e6b3";
}

.iconjinri:before {
  content: "\e6b4";
}

.iconshangchuanwenjian:before {
  content: "\e6b6";
}

.iconshenhezhong:before {
  content: "\e6b7";
}

.iconyichang:before {
  content: "\e6bd";
}

.iconwenjian:before {
  content: "\e6c0";
}

.icondingzhihuaxiang:before {
  content: "\e6ac";
}

.icontouzipianhao:before {
  content: "\e6ad";
}

.iconzhuxingtuxuanzhong1:before {
  content: "\e6a9";
}

.icondingzhihuaxiangxuanzhong:before {
  content: "\e6a3";
}

.iconjichuhuaxiangxuanzhong:before {
  content: "\e6a4";
}

.iconshanxingxuanzhong:before {
  content: "\e6a5";
}

.iconshebeidongchaxuanzhong:before {
  content: "\e6a6";
}

.icontouzipianhaoxuanzhong:before {
  content: "\e6a7";
}

.icontuijianhuaxiangxuanzhong:before {
  content: "\e6a8";
}

.iconbianjixuanzhong:before {
  content: "\e698";
}

.iconbianzu:before {
  content: "\e699";
}

.iconshoucangxuanzhong:before {
  content: "\e69a";
}

.iconyishoucang:before {
  content: "\e69b";
}

.iconzhuxingtuxuanzhong:before {
  content: "\e69d";
}

.iconshanchuxuanzhong:before {
  content: "\e69e";
}

.iconshanxingtuxuanzhong:before {
  content: "\e69f";
}

.iconbiaogexuanzhong:before {
  content: "\e6a0";
}

.icontiaoxingtuxuanzhong:before {
  content: "\e6a1";
}

.iconzhexiantuxuanzhong:before {
  content: "\e6a2";
}

.iconshaixuantiaojiantubiao:before {
  content: "\e68b";
}

.iconjichuhuaxiang:before {
  content: "\e68c";
}

.iconshebeidongcha:before {
  content: "\e693";
}

.icontuijianhuaxiang:before {
  content: "\e694";
}

.iconzhankai:before {
  content: "\e686";
}

.iconzidingyifenzu:before {
  content: "\e687";
}

.iconyonghufenxixuanzhong:before {
  content: "\e688";
}

.iconxiazaitubiao:before {
  content: "\e683";
}

.icontianjia:before {
  content: "\e684";
}

.iconhangweifenxixuanzhong:before {
  content: "\e685";
}

.iconrizhifenxixuanzhong:before {
  content: "\e67d";
}

.iconpeizhiyuguanlixuanzhong:before {
  content: "\e67e";
}

.iconshijianxuanzetubiaoxuanzhong:before {
  content: "\e680";
}

.iconduibitubiao:before {
  content: "\e677";
}

.iconfanhuijiantou:before {
  content: "\e678";
}

.icongengduotubiao:before {
  content: "\e67a";
}

.iconfuzhi:before {
  content: "\e67b";
}

.iconzhuyitubiao:before {
  content: "\e676";
}

.iconsousuotubiao:before {
  content: "\e713";
}

.iconpiliangdaoru:before {
  content: "\e66b";
}

.iconshezhitubiao:before {
  content: "\e66d";
}

.iconshouqi:before {
  content: "\e66e";
}

.icongengduozhibiao:before {
  content: "\e666";
}

.tzt-icon-warning:before{
  content: "\e7a3";
}

/* 新图标 2021-05-12*/
.icon-shezhitubiao:before {
  content: "\e66d";
}

.icon-fanhuijiantou:before {
  content: "\e678";
}

.icon-jinyongtubiao{
  color: #9B9B9B;
}
.icon-jinyongtubiao:before {
  content: "\e6b1";
}

.icon-shuaxin:before {
  content: "\e6cd";
}

.icon-chenggong{
  color: #00C561;
}
.icon-chenggong:before {
  content: "\e6d3";
}

.icon-shibai{
  color: #FF4500;
}
.icon-shibai:before {
  content: "\e6d4";
}

.icon-guanbi1:before {
  content: "\e6ee";
}

.icon-liebiaoshaixuan:before {
  content: "\e627";
}
/* 新图标 2021-05-12*/


/* 整体ui改造图标 2021-05-25 */

.icondinglan-bangzhu:before {
  content: "\e721";
}

.icondinglan-zhanghuxialatubiao2-xiugaimima:before {
  content: "\e71e";
}

.icondinglan-zhanghuxialatubiao1:before {
  content: "\e71d";
}

.icondingbudaohang-xiaoxi:before {
  content: "\e714";
}
.iconiconsousuotubiao:before {
  content: "\e713";
}

.iconzuhebiaodan-daoru:before {
  content: "\e718";
}

.iconzuhebiaodan-daochu:before {
   content: "\e717";
 }

 /* 菜单侧边栏图标 2021-06-03 */
 .iconhuodongguanli:before {
  content: "\e75d";
}

.iconshujutouying:before {
  content: "\e75c";
}

.iconjiaoyirizhi:before {
  content: "\e75b";
}

.iconzhuanhualoudou:before {
  content: "\e75a";
}

.icontougudaping:before {
  content: "\e759";
}

.iconshipinguanli:before {
  content: "\e758";
}

.iconzuheguanli:before {
  content: "\e757";
}

.iconzijin:before {
  content: "\e756";
}

.iconxiaochengxu:before {
  content: "\e755";
}

.iconyuyuedaxin:before {
  content: "\e754";
}

.iconjiaoyianquanzhi:before {
  content: "\e753";
}

.iconyijiandenglu:before {
  content: "\e752";
}

.iconxinxiguanli:before {
  content: "\e751";
}

.iconcebianlan-jiantou:before {
  content: "\e74e";
}
 .iconcebianlan-11:before {
  content: "\e722";
}

.iconcebianlan-10:before {
  content: "\e723";
}

.iconcebianlan-8:before {
  content: "\e724";
}

.iconcebianlan-6:before {
  content: "\e725";
}

.iconcebianlan-12:before {
  content: "\e726";
}

.iconcebianlan-14:before {
  content: "\e727";
}

.iconcebianlan-16:before {
  content: "\e728";
}

.iconcebianlan-17:before {
  content: "\e729";
}

.iconcebianlan-13:before {
  content: "\e72a";
}

.iconcebianlan-19:before {
  content: "\e72b";
}

.iconcebianlan-21:before {
  content: "\e72c";
}

.iconcebianlan-22:before {
  content: "\e72d";
}

.iconcebianlan-20:before {
  content: "\e72e";
}

.iconcebianlan-18:before {
  content: "\e72f";
}

.iconcebianlan-23:before {
  content: "\e730";
}

.iconcebianlan-24:before {
  content: "\e731";
}

.iconcebianlan-25:before {
  content: "\e732";
}

.iconcebianlan-27:before {
  content: "\e733";
}

.iconcebianlan-26:before {
  content: "\e734";
}

.iconcebianlan-28:before {
  content: "\e735";
}

.iconcebianlan-29:before {
  content: "\e736";
}

.iconcebianlan-30:before {
  content: "\e737";
}

.iconcebianlan-32:before {
  content: "\e738";
}

.iconcebianlan-34:before {
  content: "\e739";
}

.iconcebianlan-33:before {
  content: "\e73a";
}

.iconcebianlan-35:before {
  content: "\e73b";
}

.iconcebianlan-36:before {
  content: "\e73c";
}

.iconcebianlan-37:before {
  content: "\e73d";
}

.iconcebianlan-40:before {
  content: "\e73e";
}

.iconcebianlan-41:before {
  content: "\e73f";
}

.iconcebianlan-38:before {
  content: "\e740";
}

.iconcebianlan-44:before {
  content: "\e741";
}

.iconcebianlan-43:before {
  content: "\e742";
}

.iconcebianlan-46:before {
  content: "\e743";
}

.iconcebianlan-45:before {
  content: "\e744";
}

.iconcebianlan-42:before {
  content: "\e745";
}

.iconcebianlan-50:before {
  content: "\e746";
}

.iconcebianlan-54:before {
  content: "\e747";
}

.iconcebianlan-59:before {
  content: "\e748";
}

.iconcebianlan-55:before {
  content: "\e749";
}

.iconcebianlan-63:before {
  content: "\e74a";
}

.iconcebianlan-51:before {
  content: "\e74b";
}

.iconcebianlan-60:before {
  content: "\e74c";
}

.iconcebianlan-65:before {
  content: "\e74d";
}

.iconcebianlan-39:before {
  content: "\e74f";
}

.iconcebianlan-49:before {
  content: "\e750";
}

.iconxiangzuo:before {
  content: "\e61e";
}

.iconbiaotoujishuomingwenhao:before {
  content: "\e75f";
}

.iconxiangzuo:before {
  content: "\e61e";
}

.iconcebianlan-jiantou:before {
  content: "\e74e";
}

.icondanchuangtupiankongzhi-fangda:before {
  content: "\e760";
}

.icondanchuangtupiankongzhi-nishizhen:before {
  content: "\e761";
}

.icondanchuangtupiankongzhi-arrowzuo:before {
  content: "\e762";
}

.icondanchuangtupiankongzhi-arrowyou:before {
  content: "\e763";
}

.icondanchuangtupiankongzhi-suoxiao:before {
  content: "\e764";
}

.icondanchuangtupiankongzhi-shunshizhen:before {
  content: "\e765";
}
/* 理财商城新增图标 */
.iconlicai-shezhi:before {
  content: "\e66d";
}
.iconlicai-daoru:before {
  content: "\e718";
}
.iconlicai-bangzhu:before {
  content: "\e712";
}
.iconlicai-chongzhi:before {
  content: "\e75a";
}

.icontougutip:before {
  content: "\e63a";
}

.icona-bianzu8:before {
  content: "\e60d";
}

.icona-bianzu22:before {
  content: "\e622";
}

.icona-bianzu23:before {
  content: "\e623";
}

.iconqiehuananniu_switch-button:before {
  content: "\e624";
}

.iconlicai_financing-one:before {
  content: "\e625";
}

.icona-huabanbeifen6:before {
  content: "\e625";
}

.icona-wenzi_text43x:before {
  content: "\e63c";
}

.icona-bianzu19:before {
  content: "\e607";
}

.iconshipin:before {
  content: "\e606";
}

.iconxiaolian:before {
  content: "\e605";
}

.iconjia:before {
  content: "\e604";
}

.iconmeiyuan:before {
  content: "\e603";
}

.iconnaoling:before {
  content: "\e602";
}

.icona-huabanbeifen7:before {
  content: "\e63c";
}

.icona-66666:before {
  content: "\e646";
}

.iconhuaban3:before {
  content: "\e648";
}

.icona-huabanbeifen15:before {
  content: "\e645";
}

.icona-huabanbeifen16:before {
  content: "\e647";
}

.iconhuaban1:before {
  content: "\e63d";
}

.icona-huabanbeifen9:before {
  content: "\e63e";
}

.icona-huabanbeifen8:before {
  content: "\e63f";
}

.icona-huabanbeifen13:before {
  content: "\e640";
}

.icona-huabanbeifen12:before {
  content: "\e641";
}

.icona-huabanbeifen11:before {
  content: "\e642";
}

.icona-huabanbeifen10:before {
  content: "\e643";
}

.icona-huabanbeifen14:before {
  content: "\e644";
}

.icona-huabanbeifen2:before {
  content: "\e60d";
}

.icona-huabanbeifen4:before {
  content: "\e622";
}

.icona-huabanbeifen5:before {
  content: "\e623";
}

.icona-huabanbeifen3:before {
  content: "\e624";
}

.icona-huabanbeifen6:before {
  content: "\e625";
}
/* 投顾表头提示问号 */
/* .icontougutip:before {
  content: "\e75f";
} */

/* 富文本编辑器图标  start */
.vue2Editor .ql-audio-upload:before {
  content: "\e6df";
}

.vue2Editor .ql-audio-record:before {
  content: "\e619";
}

.vue2Editor .ql-video-upload:before {
  content: "\e6ca";
}

.vue2Editor .ql-file:before,
.vue2Editor .ql-chat-file:before {
  content: "\e691";
}

.vue2Editor .ql-docker:before {
  content: "\e603";
}

.vue2Editor .ql-prodadd:before {
  content: "\e604";
}

.vue2Editor .ql-expression:before {
  content: "\e605";
}

.vue2Editor .ql-video-upload:before {
  content: "\e606";
}
/* 富文本编辑器图标  end */
